.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  
}
button{
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;

}
.summary{
  position: absolute;
  left: 0;
  bottom: 50px;
}
.wrapper{
  position: relative;
  width: 600px;
  height: 600px;
}
.symbols{
  width: 100%;
  height: 100%;
 
}
.symbol{
  width: max-content;
  position: absolute;
  font-size: 320px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.symbol1{
  width: max-content;
  font-size: 48px;
  
}
.symbol.show {
  opacity: 1;
}


ul{
  list-style-type: none;
  gap: 15px;
}
.number{
  border: none;
  border-bottom: 1px solid black;
  width: max-content;
}